.container-fluid {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.brand-title {
    background-color: #f46425;
    padding-left: 57px;
}
.work {
    margin-left: -17px;
}
.fa-clock {
    margin-left: -15px !important;
}
.span {
    font-size: 2rem;
    display: inline-block;
}
.fa, .far {
    color: #f46425;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #f46425;
    background-color: white;
    margin-left: 10px;
}
.brand {
    padding-top: 20px;
    background-color: #333;
}
.brand-title {
    display: inline-block;
    position: relative;
    border: solid #333;
    border-width: 1px 1px 0px 1px;
}
.brand-title:after{
    content: "";
    position: absolute;
    right: -1px;
    border-top: 1px solid #333;
     border-left: none medium;
    top: -1px;
    left: auto;
    width: 60px;
    height: 100%;
    background: linear-gradient(to top right, #f46425 calc(50% - 1px),  1px, #333 50%);
}
.brand .col-lg-3 {
    padding-left: 25px;
}
span {
    display: block;
    font-size: 14px;
}
.navbar {
    padding: 10px 40px;
}
.navbar ul li a {
    color: #333 !important;
    margin-right: 20px;
}
.navbar ul li .active {
    color: #f46425 !important;
}
.fa-angle-down {
    font-size: 12px;
    margin-left: 6px;
}
.navbar .fab {
    font-size: 23px;
}
.right {
    margin-left: auto;
}
.btn {
    background-color: #f46425;
    color: white;
}
.book {
    width: auto;
}
.col-xs-12 {
    width: 100%;
    padding: 0;
}
.form .col-lg-4 {
    padding-left: 40px;
}
.col-lg-2 .dropdown {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}
.col-lg-2 .dropdown button {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: gray;
    padding-left: 10px;
    padding-right: 100%;
}
.identity {
    padding-right: 50px !important;
}
.identity-btn {
    width: 100%;
}
.form .col-lg-2 {
    padding-right: 20px;
    padding-left: 20px;
}
.maintxt {
    width: 100%;
    height: 100vh;
    background-image: url('hero.jpg');
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.maintxt-text {
    float: right;
    margin: 210px 0px 0 0;
}
.maintxt-text h1 {
    margin-bottom: 20px;
    font-size: 100px;
    color: #f46425;
}
.maintxt-text h2 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 500;
}
.bg {
    width: 530px;
    background-color: #f46425;
}
.col-xs-12 h1 {
    font-weight: bold;
}
.char {
    color: #f46425;
}
.relative {
    position: relative;
    padding: 20px;
}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 44px solid transparent;
    border-left: 88px solid #f46425;
    border-bottom: 44px solid transparent;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
  }
.form {
    background-color: #f46425;
}
.form .name-input {
    background-color: #333;
    padding: 25px;
}
.form .name-input input {
    margin-left: 90px;
    width: 250px;
}
.col-lg-4 {
    background-color: #f46425;
    padding: 20px;
}
.col-lg-2 {
    background-color: #333;
    padding: 25px 20px 0 20px;
}
.text {
    background-color: #f46425;
    padding: 100px 0 100px 0;
    margin: 0;
}
.text h2 {
    font-weight: lighter;
}
.join {
    margin-top: 40px;
    background-color: #333;
    color: #f46425;
    font-size: 40px;
}
.join:hover {
    color: #f46425;
}
.services {
    padding: 80px 40px 0 40px;
}
.services h1 {
    margin-bottom: 80px !important;
}
.services h4 {
    margin-top: 10px;
}
.services .col-lg-3 img {
    width: 100%;
}
.causes {
    background-color: #f46425;
    margin-top: 100px;
    padding: 80px 40px;
}
.causes h1 {
    margin-bottom: 60px !important;
}
.causes img {
    width: 100%;
}
.causes p {
    padding-top: 20px;
}
.footer {
    background-color: #333;
    padding: 50px 40px;
}
.footer ul li {
    list-style-type: none;
    margin-top: -5px;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}
.footer .twitch {
    position: relative;
}
.footer .twitch .i-1 {
    position: absolute;
    top: 60px;
    left: 11px;
}
.footer .twitch .i-2 {
    position: absolute;
    top: 170px;
    left: 15px;
}
.footer .twitch p {
    padding: 0 28px;
    border-bottom: 1px solid grey;
}
.footer i {
    font-size: 18px;
    margin-right: 10px;
    color: #f46425;
}
.footer .estimate input, .submit {
    width: 100%;
    margin-bottom: 15px;
}
.footer .estimate .submit {
    font-weight: bolder;
    font-size: 40px;
    color: #333
}
.col-auto .dropdown {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.col-auto .dropdown button {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    color: gray;
    padding-left: 10px;
    padding-right: 100%;
}
.footer .links {
    margin-left: 30px !important;
}
.fa-greater-than {
    font-size: 8px !important;
}
.strip {
    background-color: #f46425 !important;
    padding: 20px 40px;
}
.strip .para {
    color: white;
}
.right-icons {
    float: right !important;
    place-items: right;
    justify-content: end;
}
.right-icons i {
    margin-right: 15px;
    font-size: 30px;
}
@media screen and (max-width: 700px) {
    .col-sm-3 {
        padding-left: 35px;
    }
    .col-sm-9 {
        padding-left: 100px;
    }
    .brand {
        padding: 30px 0;
        position: relative;
    }
    .fa, .far {
        color: #f46425;
        padding: 8px;
        border-radius: 50%;
        border: 2px solid #f46425;
        background-color: white;
        position: absolute;
        top: 30px;
        left: 40px;
    }
    .fa, .far {
        margin-left: -15px;
    }
    .brand-title {
        padding-left: 20px;
    }
    .hero-brand .lawn {
        padding-left: 5px;
    }
    .hero-brand .col-md-2 {
        padding-left: 20px;
    }
    .work {
        margin-left: 0px;
    }
    .fa-clock {
        margin-left: -15px;
    }
    .brand-title:after {
        display: none;
    }
    #triangle-right {
        display: none;
      }
    .form .name-input {
        background-color: #333;
    }
    .form .name-input {
        padding: 20px 20px 0 20px;
    }
    .form .name-input input {
        margin-left: 0px;
        width: 100%;
    }
    .maintxt {
        background-image: url('hero2.jpg');
    }
    .maintxt-text {
        float: left;
    }
    .maintxt-text h1 {
        font-size: 40px;
    }
    .maintxt-text h2 {
        font-size: 25px;
        width: 230px;
    }
    .identity {
        padding-right: 20px !important;
    }
    .bg {
        width: 215px;
    }
    .services {
        padding: 20px;
    }
    .services .col-lg-3 {
        margin-top: 50px;
    }
    .causes {
        padding: 20px;
    }
    .causes .col-lg-3 {
        margin-top: 50px;
    }
    .footer {
        padding: 40px;
    }
    .footer .col-lg-3 {
        margin-top: 60px;
        padding: 0px;
    }
    .footer .twitch .i-1 {
       display: none;
    }
    .footer .twitch .i-2 {
       display: none;
    }
    .footer .twitch p {
        padding: 10px 0;
    }
    .footer .links-ul {
        margin-left: -30px;
    }
    .footer .links {
        margin-left: 0px !important;
    }
    .footer .calc {
        margin-left: 0px;
    }
}